<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}}</title>
    <link rel='stylesheet' href='/styles/vendor.css' />
    <link rel='stylesheet' href='/styles/our.css' />
    <script src='/js/vendor.js'></script>
    <script src='/js/single.js'></script>
    <% include ../templates/testtemp.html %>
    <% include ../templates/venues_venue_cover.html %>
  </head>
  <body>