<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/styles/vendor.css' />
    <link rel='stylesheet' href='/styles/our.css' />
    <style src='/js/vendor.js'></style>
    <style src-'/js/our.js'></style>
  </head>
  <body>