
  <div id="venueHeader" class="ui sticky venueHeader">
     <div class="ui column twelve wide centered grid">
      
        <div class="one column fourteen wide centered grid left aligned">
          <div id="venueHeader-title" class="item">
            <h1>title will go here</h1>
            <span class="back">
              x
            </span>
          </div> 
        </div>

    </div>
  </div>
