<div class="ui grid menu top fixed secondary fixed-secondary">
  <div class="left floated ten wide column">
    <div class="ui grid">
      <div class="left floated six wide column">
        <div class="item"> 
            <a href="/">
          <div>Venues in <strong>SF</strong></div>
            </a>
        </div>  
      </div>

      <div class="right floated eight wide column">
        <div class="ui grid">
          
          <div class="left floated eight wide column">
            <div id="menu-likes-styles" class="ui item"> 
              Styles 
              <i class="fa fa-angle-down padding-left"></i> 
            </div>
            <form id="menu-likes-styles-options" class="">
                <div class="menuTitle">
                  Styles
                  <i class="fa fa-angle-up padding-left"></i>
                </div>
                <div class="checkbox-item-holder unchecked-label">
                  <label for="ballroom"></label>
                  <input type="checkbox" id="ballroom" name="checkbox-item" class="dropdown-item styles-likes-checkbox" value="ballroom"> 
                  <span class="optionTitle">
                    Ballroom
                  </span>
                </div>

                <div class="checkbox-item-holder unchecked-label">
                  <label for="barn"></label> 
                  <input id='barn' type="checkbox" name="checkbox-item" class="dropdown-item styles-likes-checkbox" value="barn">
                  <span class="optionTitle">
                    Barn
                  </span>
                </div>

                <div class="checkbox-item-holder unchecked-label">
                  <label for="banquethall/restaurant"></label>  
                  <input id='banquethall/restaurant' type="checkbox" name="checkbox-item" class="dropdown-item styles-likes-checkbox" value="banquethall/restaurant"> 
                  <span class="optionTitle">
                    Banquethall/Restaurant
                  </span>
                </div>

                <div class="checkbox-item-holder unchecked-label">
                  <label for="city/skylineview"></label>
                  <input type="checkbox" id="city/skylineview" name="checkbox-item" class="dropdown-item styles-likes-checkbox" value="city/skylineview"> 
                  <span class="optionTitle">
                    City/Skyline View
                  </span>
                </div>

                <div class="checkbox-item-holder unchecked-label">
                  <label for="eventcenter"></label>  
                  <input id='eventcenter' type="checkbox" name="checkbox-item" class="dropdown-item styles-likes-checkbox" value="eventcenter"> 
                  <span class="optionTitle">
                    Event Center
                  </span>
                </div>

                <div class="checkbox-item-holder unchecked-label">
                  <label for="historic/landmarkbuilding"></label>  
                  <input id='historic/landmarkbuilding' type="checkbox" name="checkbox-item" class="dropdown-item styles-likes-checkbox" value="historic/landmarkbuilding"> 
                  <span class="optionTitle">
                    Historic/Landmark Building
                  </span>
                </div>

                <div class="checkbox-item-holder unchecked-label">
                  <label for="loft"></label>
                  <input type="checkbox" id="loft" name="checkbox-item" class="dropdown-item styles-likes-checkbox" value="loft"> 
                  <span class="optionTitle">
                    Loft
                  </span>
                </div>

                <div class="checkbox-item-holder unchecked-label">
                  <label for="modern"></label>  
                  <input id='modern' type="checkbox" name="checkbox-item" class="dropdown-item styles-likes-checkbox" value="modern"> 
                  <span class="optionTitle">
                    Modern
                  </span>
                </div>

                <div class="checkbox-item-holder unchecked-label">
                  <label for="ocean/waterfrontview"></label>
                  <input type="checkbox" id="ocean/waterfrontview" name="checkbox-item" class="dropdown-item styles-likes-checkbox" value="ocean/waterfrontview"> 
                  <span class="optionTitle">
                    Ocean/Waterfront View
                  </span>
                </div>
              
                <div class="checkbox-item-holder unchecked-label">
                  <label for="outdoor"></label>  
                  <input id='outdoor' type="checkbox" name="checkbox-item" class="dropdown-item styles-likes-checkbox" value="outdoor"> 
                  <span class="optionTitle">
                    Outdoor
                  </span>
                </div>

                <div class="checkbox-item-holder unchecked-label">
                  <label for="vintage/rustic"></label>
                  <input type="checkbox" id="vintage/rustic" name="checkbox-item" class="dropdown-item styles-likes-checkbox" value="vintage/rustic"> 
                  <span class="optionTitle">
                    Vintage/Rustic
                  </span>
                </div>

                <div class="checkbox-item-holder unchecked-label">
                  <label for="winery/vinyard"></label>  
                  <input id='winery/vinyard' type="checkbox" name="checkbox-item" class="dropdown-item styles-likes-checkbox" value="winery/vinyard"> 
                  <span class="optionTitle">
                    Winery/Vinyard
                  </span>
                </div>
                  
              </form>
          </div>

          <div class="right floated eight wide column">
            <div id="menu-likes-capacity" class="ui item"> Capacity <i class="fa fa-angle-down padding-left"></i>
              </div>
              
              <form id="menu-likes-capacity-options" class="">
                <div class="menuTitle">
                  Capacity
                  <i class="fa fa-angle-up padding-left"></i>
                </div>
                <div class="radio-item-holder unchecked-label">
                  <label for="notsure"></label>
                  <input id="notsure" type="radio" name="radio-item" class="dropdown-item capacity-likes-radio" value="0" checked> 
                  <span class="optionTitle">
                    Not Sure
                  </span>
                </div>
              
                <div class="radio-item-holder unchecked-label">
                  <label for="upTo100"></label>
                  <input id="upTo100" type="radio" name="radio-item" class="dropdown-item capacity-likes-radio" value="100"> 
                  <span class="optionTitle">
                    Up to 100
                  </span>
                </div>

                <div class="radio-item-holder unchecked-label"> 
                  <label for="upTo150"></label>
                  <input id="upTo150" type="radio" name="radio-item" class="dropdown-item capacity-likes-radio" value="150"> 
                  <span class="optionTitle">
                    Up to 150
                  </span>
                </div>

                <div class="radio-item-holder unchecked-label"> 
                  <label for="upTo200"></label>
                  <input id="upTo200" type="radio" name="radio-item" class="dropdown-item capacity-likes-radio" value="200"> 
                  <span class="optionTitle">
                    Up to 200
                  </span>
                </div>

                <div class="radio-item-holder unchecked-label"> 
                  <label for="upTo250"></label>
                  <input id="upTo250" type="radio" name="radio-item" class="dropdown-item capacity-likes-radio" value="250"> 
                  <span class="optionTitle">
                    Up to 250
                  </span>
                </div>


              </form>

             
          </div>


        </div>
      </div>
    </div>


  </div>

  <div class="right floated three wide column">
      <div class="item">
        <a href="/venues/likes">
          Likes
        </a>
      </div>
  </div>
</div>