<div class="ui grid menu top fixed secondary fixed-secondary">
  <div class="left floated ten wide column">
    <div class="ui grid">
      <div class="left floated six wide column">
        <div class="item"> 
            <a href="/">
          <div>Venues in <strong>SF</strong></div>
            </a>
        </div>  
      </div>

      <div class="right floated eight wide column">
        <div class="ui grid">
          
          <div class="left floated eight wide column">
            <div id="menu-likes-styles" class="ui item"> 
              Styles 
              <i class="fa fa-angle-down padding-left"></i> 
            </div>
            <form id="menu-likes-styles-options" class="">
                <div class="menuTitle">
                  Styles
                  <i class="fa fa-angle-up padding-left"></i>
                </div>
                <div class="checkbox-item-holder unchecked-label">
                  <label for="ballroom"></label>
                  <input type="checkbox" id="ballroom" name="checkbox-item" class="dropdown-item styles-likes-checkbox" value="ballroom"> 
                  <span class="optionTitle">
                    Ballroom
                  </span>
                </div>
              
                <div class="checkbox-item-holder unchecked-label"> 
                  <label class='.lbl' for="backyard"></label>
                  <input type="checkbox" id='backyard' name="checkbox-item" class="dropdown-item styles-likes-checkbox" value="backyard"> 
                  <span class="optionTitle">
                    Backyard
                  </span>
                </div>

                <div class="checkbox-item-holder unchecked-label">
                  <label for="barn"></label> 
                  <input id='barn' type="checkbox" name="checkbox-item" class="dropdown-item styles-likes-checkbox" value="barn">
                  <span class="optionTitle">
                    Barn
                  </span>
                </div>

                <div class="checkbox-item-holder unchecked-label">
                  <label for="beach"></label> 
                  <input id='beach' type="checkbox" name="checkbox-item" class="dropdown-item styles-likes-checkbox" value="beach"> 
                  <span class="optionTitle">
                    Beach
                  </span>
                </div>

                <div class="checkbox-item-holder unchecked-label"> 
                  <label for="cityhall"></label> 
                  <input id='cityhall' type="checkbox" name="checkbox-item" class="dropdown-item styles-likes-checkbox" value="cityhall"> 
                  <span class="optionTitle">
                    City Hall
                  </span>
                </div>

                <div class="checkbox-item-holder unchecked-label"> 
                  <label for="countryclub"></label> 
                  <input id='countryclub' type="checkbox" name="checkbox-item" class="dropdown-item styles-likes-checkbox" value="countryclub"> 
                  <span class="optionTitle">
                    Country Club
                  </span>
                </div>

                <div class="checkbox-item-holder unchecked-label">
                  <label for="garden"></label>  
                  <input id='garden' type="checkbox" name="checkbox-item" class="dropdown-item styles-likes-checkbox" value="garden"> 
                  <span class="optionTitle">
                    Garden
                  </span>
                </div>
                  
              </form>
          </div>

          <div class="right floated eight wide column">
            <div id="menu-likes-capacity" class="ui item"> Capacity <i class="fa fa-angle-down padding-left"></i>
              </div>
              
              <form id="menu-likes-capacity-options" class="">
                <div class="menuTitle">
                  Capacity
                  <i class="fa fa-angle-up padding-left"></i>
                </div>
                <div class="radio-item-holder unchecked-label">
                  <label for="notsure"></label>
                  <input id="notsure" type="radio" name="radio-item" class="dropdown-item capacity-likes-radio" value="0" checked> 
                  <span class="optionTitle">
                    Not Sure
                  </span>
                </div>
              
                <div class="radio-item-holder unchecked-label">
                  <label for="upTo100"></label>
                  <input id="upTo100" type="radio" name="radio-item" class="dropdown-item capacity-likes-radio" value="100"> 
                  <span class="optionTitle">
                    Up to 100
                  </span>
                </div>

                <div class="radio-item-holder unchecked-label"> 
                  <label for="upTo150"></label>
                  <input id="upTo150" type="radio" name="radio-item" class="dropdown-item capacity-likes-radio" value="150"> 
                  <span class="optionTitle">
                    Up to 150
                  </span>
                </div>

                <div class="radio-item-holder unchecked-label"> 
                  <label for="upTo200"></label>
                  <input id="upTo200" type="radio" name="radio-item" class="dropdown-item capacity-likes-radio" value="200"> 
                  <span class="optionTitle">
                    Up to 200
                  </span>
                </div>

                <div class="radio-item-holder unchecked-label"> 
                  <label for="upTo250"></label>
                  <input id="upTo250" type="radio" name="radio-item" class="dropdown-item capacity-likes-radio" value="250"> 
                  <span class="optionTitle">
                    Up to 250
                  </span>
                </div>
              </form>

             
          </div>


        </div>
      </div>
    </div>


  </div>

  <div class="right floated three wide column">
      <div class="item">
        <a href="/venues/likes">
          Likes
        </a>
      </div>
  </div>
</div>