<div class="singleVenue-desc">
  <div class="ui menu pointing secondary borderless singleVenue-menu">
    <a id="details" class="item active">
      Details
      <i class="fa fa-sort-asc fa-3x menu-carrow"></i>
    </a>
    <a id="reviews" class="item">
      Reviews
    </a>
    <a id="calendar" class="item">
      Calendar
    </a>
  </div>


  <div id="singleVenue-description" class="description">
  </div>
</div>
