<div class="ui grid menu top fixed secondary fixed-secondary">
  <div class="left floated ten wide column">
    <div class="ui grid">
      <div class="left floated six wide column">
        <div class="item">
          <div>Venues in <strong>SF</strong></div>
        </div>  
      </div>

      <div class="right floated eight wide column">
        <div class="ui grid">
          
          <div class="left floated eight wide column">
            <div id="menu-styles" class="ui item"> Styles <i class="fa fa-angle-down padding-left"></i> 
              <div id="menu-styles-options" class="">
                <div class="dropdown-item checkbox-item">
                  ping
                </div>
                <div class="dropdown-item checkbox-item">
                  pong
                </div>
              </div>
            </div>
          </div>

          <div class="right floated eight wide column">
            <div id="menu-capacity" class="ui item"> Capacity <i class="fa fa-angle-down padding-left"></i>
              <div id="menu-capacity-options" class="">
                <div class="dropdown-item checkbox-item">
                  ping
                </div>
                <div class="dropdown-item checkbox-item">
                  pong
                </div>
              </div>


             </div>
          </div>


        </div>
      </div>
    </div>


  </div>

  <div class="right floated three wide column">
    <div class="item">Likes</div>
  </div>
</div>