<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/styles/vendor.css' />
    <link rel='stylesheet' href='/styles/our.css' />
    <script src='/js/vendor.js'></script>
    <script src='/js/our.js'></script>
    {{>testtemp}}
  </head>
  <body>
    {{{body}}}
  </body>
</html>
