<% include ./partials/head %>

<div class="singleVenueBackground">
    
    <% include ./partials/venue_header %>

    <div class="ui column twelve wide centered grid">
      
      <div class="one column fourteen wide centered grid left aligned">
        <div id="singleVenue-carousel" class="carousel">
          <div class="singleVenue-carousel">
              <div>your content 1</div>
              <div>your content 2</div>
              <div>your content 3</div>
          </div>


        
        </div>
      </div>
    
      <div class="one column fourteen wide centered grid left aligned">
        <div id="venue">
         <%= venue %>
        </div>
      </div>
   
    
    
      <div class="one column fourteen wide centered grid left aligned">
        <p>
          Chicharrones 8-bit authentic, poutine meggings YOLO kinfolk vinyl helvetica irony hammock. Dreamcatcher jean shorts direct trade, flexitarian YOLO four dollar toast intelligentsia gentrify. Direct trade raw denim cardigan, quinoa everyday carry chartreuse pop-up. 8-bit drinking vinegar polaroid bespoke, ugh mixtape next level fingerstache tacos actually taxidermy post-ironic tattooed blog. Intelligentsia chia small batch, fixie franzen 3 wolf moon semiotics literally chillwave. Farm-to-table artisan schlitz taxidermy poutine. Flannel jean shorts fashion axe, polaroid kinfolk tattooed tofu green juice single-origin coffee cornhole tote bag forage brunch schlitz squid.
        </p>
        <p>
          Hella listicle narwhal sriracha. Thundercats cornhole raw denim pickled chillwave next level, williamsburg letterpress DIY. Knausgaard you probably haven't heard of them flannel messenger bag. Fixie shoreditch fashion axe quinoa. Cray viral fashion axe vice hammock crucifix, gluten-free organic tattooed synth. VHS yuccie paleo schlitz thundercats gastropub. Beard keffiyeh forage asymmetrical post-ironic irony.
        </p>
        <p>
          Microdosing PBR&B single-origin coffee next level, offal YOLO meditation photo booth mumblecore distillery aesthetic. Shabby chic slow-carb pabst, offal cray lo-fi cardigan VHS microdosing green juice before they sold out hella banjo. Art party butcher thundercats, direct trade post-ironic mumblecore venmo. Ramps 8-bit organic banh mi, sriracha taxidermy mlkshk. Next level cornhole cold-pressed fixie bitters, four dollar toast tote bag before they sold out lomo plaid bespoke. Chambray health goth crucifix, fixie microdosing flannel keytar ugh lomo. Offal viral salvia meggings, taxidermy listicle sustainable paleo normcore actually.
        </p>
        <p>
          Chicharrones 8-bit authentic, poutine meggings YOLO kinfolk vinyl helvetica irony hammock. Dreamcatcher jean shorts direct trade, flexitarian YOLO four dollar toast intelligentsia gentrify. Direct trade raw denim cardigan, quinoa everyday carry chartreuse pop-up. 8-bit drinking vinegar polaroid bespoke, ugh mixtape next level fingerstache tacos actually taxidermy post-ironic tattooed blog. Intelligentsia chia small batch, fixie franzen 3 wolf moon semiotics literally chillwave. Farm-to-table artisan schlitz taxidermy poutine. Flannel jean shorts fashion axe, polaroid kinfolk tattooed tofu green juice single-origin coffee cornhole tote bag forage brunch schlitz squid.
        </p>
        <p>
          Hella listicle narwhal sriracha. Thundercats cornhole raw denim pickled chillwave next level, williamsburg letterpress DIY. Knausgaard you probably haven't heard of them flannel messenger bag. Fixie shoreditch fashion axe quinoa. Cray viral fashion axe vice hammock crucifix, gluten-free organic tattooed synth. VHS yuccie paleo schlitz thundercats gastropub. Beard keffiyeh forage asymmetrical post-ironic irony.
        </p>
        <p>
          Microdosing PBR&B single-origin coffee next level, offal YOLO meditation photo booth mumblecore distillery aesthetic. Shabby chic slow-carb pabst, offal cray lo-fi cardigan VHS microdosing green juice before they sold out hella banjo. Art party butcher thundercats, direct trade post-ironic mumblecore venmo. Ramps 8-bit organic banh mi, sriracha taxidermy mlkshk. Next level cornhole cold-pressed fixie bitters, four dollar toast tote bag before they sold out lomo plaid bespoke. Chambray health goth crucifix, fixie microdosing flannel keytar ugh lomo. Offal viral salvia meggings, taxidermy listicle sustainable paleo normcore actually.
        </p>
        <p>
          Chicharrones 8-bit authentic, poutine meggings YOLO kinfolk vinyl helvetica irony hammock. Dreamcatcher jean shorts direct trade, flexitarian YOLO four dollar toast intelligentsia gentrify. Direct trade raw denim cardigan, quinoa everyday carry chartreuse pop-up. 8-bit drinking vinegar polaroid bespoke, ugh mixtape next level fingerstache tacos actually taxidermy post-ironic tattooed blog. Intelligentsia chia small batch, fixie franzen 3 wolf moon semiotics literally chillwave. Farm-to-table artisan schlitz taxidermy poutine. Flannel jean shorts fashion axe, polaroid kinfolk tattooed tofu green juice single-origin coffee cornhole tote bag forage brunch schlitz squid.
        </p>
        <p>
          Hella listicle narwhal sriracha. Thundercats cornhole raw denim pickled chillwave next level, williamsburg letterpress DIY. Knausgaard you probably haven't heard of them flannel messenger bag. Fixie shoreditch fashion axe quinoa. Cray viral fashion axe vice hammock crucifix, gluten-free organic tattooed synth. VHS yuccie paleo schlitz thundercats gastropub. Beard keffiyeh forage asymmetrical post-ironic irony.
        </p>
        <p>
          Microdosing PBR&B single-origin coffee next level, offal YOLO meditation photo booth mumblecore distillery aesthetic. Shabby chic slow-carb pabst, offal cray lo-fi cardigan VHS microdosing green juice before they sold out hella banjo. Art party butcher thundercats, direct trade post-ironic mumblecore venmo. Ramps 8-bit organic banh mi, sriracha taxidermy mlkshk. Next level cornhole cold-pressed fixie bitters, four dollar toast tote bag before they sold out lomo plaid bespoke. Chambray health goth crucifix, fixie microdosing flannel keytar ugh lomo. Offal viral salvia meggings, taxidermy listicle sustainable paleo normcore actually.
        </p>
      </div>
    </div>
    </div>
     


 <% include ./partials/foot %>