<% include ./partials/head %>

<div class="singleVenueBackground">
  <div class="singleVenue">
    
    <% include ./partials/venue_header %>

    <div class="ui one column centered grid">
      
      <div class="one column sixteen wide centered grid left aligned">
        <div id="singleVenue-carousel" class="carousel">
          <div id='carousel' class="singleVenue-carousel">
              <div class='venue-carouselImg'><img class='carousel' src="" alt=""></div>
              <div class='venue-carouselImg'><img class='carousel' src="" alt=""></div>
              <div class='venue-carouselImg'><img class='carousel' src="" alt=""></div>
          </div>  
        </div>
      </div>

      <div class="one column fourteen wide centered grid left aligned">
        <div id="singleVenue-menu">
          <% include ./menues/singleVenue_options %>
        </div>
      </div>
          
      
    </div>



  </div>
</div>
     


 <% include ./partials/foot %>