.fixed-secondary {
  background: white !important;

  #menu-styles{
  }
  #menu-styles-options{
      transition: all 0.5s ease-in-out;
      -moz-transition: all 0.5s ease-in-out;
      -webkit-transition: all 0.5s ease-in-out;
      opacity: 0;
      position: absolute;
      top: 40px;
      left: 30px;
      width: 120px;
      background: #d3d3d3;

      .checkbox-item-holder {
        padding: 10px;
        display: inline-block;
      }
    }
  
  #menu-capacity{
  }
  #menu-capacity-options{
      transition: all 0.5s ease-in-out;
      -moz-transition: all 0.5s ease-in-out;
      -webkit-transition: all 0.5s ease-in-out;
      opacity: 0;
      position: absolute;
      top: 40px;
      left: 20px;
      width: 120px;
      background: #d3d3d3;

      .radio-item-holder {
        padding: 10px;
        display: inline-block;
      }
    }
}