$red: #e0656d;
$background: #fff;
$font: rgb(100,100,100);

.checked-label {
  label{
    display: inline-block;
    background: $red;
    border: 1px solid $red;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    &:before{
      content: "\2713";
      color: white;
      margin: 0 0 0 2px;
    } 
  }
}

.checked-radio {
  label{
    display: inline-block;
    background: $red;
    border: 1px solid $red;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    &:before{
      content: "";
      color: white;
      margin: 0 0 0 2px;
    } 
  }
}

.unchecked-label {
  label{
    display: inline-block;
    border: 1px solid $red;
    background: white;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    &:before{
      content: " ";
      color: white;
      margin: 0 0 0 2px;
    }
  } 
}

.fixed-secondary {
  background: white !important;
  color: $font;

  #menu-styles{
  }

  #menu-styles-options{
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    opacity: 0;
    position: absolute;
    top: 50px;
    left: 30px;
    width: 150px;
    background: $background;
    border: 1px solid $font;

    input[type=checkbox] {
      display: none;
    }

    .checkbox-item-holder {
      line-height: 1.15em;
      padding: 10px;
      display: block;
      .optionTitle{
        font-size: 1.1em;
        padding: 0 5px;
      }
    }
    
    
  }
  
  #menu-capacity{
  }
  #menu-capacity-options{
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    opacity: 0;
    position: absolute;
    top: 50px;
    left: 20px;
    width: 150px;
    background: $background;
    border: 1px solid $font;

    input[type=radio] {
      display: none;
    }

    .radio-item-holder {
      padding: 10px;
      display: inline-block;
    }
  }
}