$background: white;
$body: #f2f2f2;
$red: #e0656d;
$star: #fad532;
$font: #63615f;

#single-venue-heart{
  position: absolute;
  bottom: 10%;
  left: 7%;
  color: $red;
  z-index: 130;
}

.singleVenueBackground{
  margin-top: -50px;
  background: $body;
  .singleVenue{

    margin: 0 40px;
    background: $background;

    
    .venueHeader {
      #venueHeader-title{

        background: $background;
        padding: 20px 20px 20px;
        margin-top: 0px;
        h1 {
          font-size: 1.35em;
          font-weight: 300;
          display: inline;
        }
        .back {
          text-align: right;
          display: inline;
          float: right;
          a {
            color: black;
            &:hover {
              opacity: .8;
            }
          }
        }
      }
    }
    .carousel{
      img {
        width: 100%;
        height: 450px;
      }
      height: 450px;
      .slick-prev {
        left: 25px;
        z-index: 100;
        &:before {
          content: '<';
          color: $red;
          font-size: 60px;
        }
      }

      .slick-next{
        right: 40px;
        z-index: 10;
        &:before {
          content: '>';
          color: $red;
          font-size: 60px;
        }
      }
    }
    .singleVenue-desc {
      margin: 0 20px;
      background: $background;
      .singleVenue-menu {
        border-bottom: 0px !important;
        .active {
          color: $red !important;
          font-weight: 300 !important;
          border-bottom: 0px solid transparent !important;
          padding-bottom: 14px;
        }
        .menu-carrow {
          position: absolute;
          left: 35%;
          top: 35px;
          color: $body;
        }
        a {
          &:active {
            border-bottom: 2px solid transparent !important;
          }
        }
      }
      .description {
        padding: 40px;
        margin: 0 -6%;
        background: $body;
        border-radius: 10px;
        .review-field {
        }
        .fa-star {
          color: $star;
        }
        .fa-star-o {
          color: $star;
        }
        .reviews-number{
          color: $font;
          padding: 0 0 30px;
        }
        .review {
          color: $font;
          padding: 20px 0px 40px;
          border-top: 2px solid $font;
        }
        .review-text {
          color: $font;
          padding: 0 0 75px;
          img {
            margin: 0 auto;
            display: block;
            width: 100px;
            height: 100px;
          }
          .username{
            display: block;
            margin: 10px auto;
            text-align: center;
          }
        }
      }
    }
    
 }
}

