$h1: rgb(100,100,100);
$heart: #e0656d;
$heartBackground: rgba(10,10,10,0.1);

#venues-select {
}

.venues-venue {
  padding: 0 0 50px;
  margin: 0 5px;
  h1 {
    text-align: center;
    font-size: 1.35em;
    margin-top: 10px;
    font-weight: 300;
    color: $h1;
  }
  img {
    width: 350px;
    height: 200px;
  }
  .venue-heart{
    width: 32px;
    height: 32px;
    border-radius: 20px;
    background-color: $heartBackground;
    position: absolute;
    z-index: 15;
    margin-top: -45px;
    margin-left: 10px;
    color: white;
    i {
      margin: 4px 2px;
    }
    .liked {
      color: $heart;
    }
  }
}